input[type=checkbox],
input[type=radio] {
    display: none;
}

.checkbox-list,
.radio-list {
    display: flex;
    flex-wrap: wrap;
    li {
        margin-bottom: 20px;
    }
}

.checkbox-label,
.radio-label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    cursor: pointer;
    &:before,
    &:after {
        @extend %psevdo;
    }
    &:before,
    &:before {
        top: -2px;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #777;
        background: transparent;
    }
    &:after,
    &:after {
        top: 3px;
        left: 5px;
        width: 13px;
        height: 13px;
        background: $secondary;
        opacity: 0;
    }
}

.radio-label {
    &:before {
        border-radius: 50%;
    }
    &:after {
        border-radius: 50%;
    }
}

.checkbox-input,
.radio-input {
    &:checked + .checkbox-label:after,
    &:checked + .radio-label:after {
        opacity: 1;
    }
    &:disabled + .checkbox-label,
    &:disabled + .checkbox-label:before,
    &:disabled + .radio-label:before,
    &:disabled + .radio-label {
        opacity: .4;
    }
}