
.button {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background: $green;
    text-decoration: none;
    border: none;
    width: 181px;
    display: block;
    padding: 11px;
    cursor: pointer;
    &:hover {
        background: #26CD8B;
    }
    &:active {
        background: $green-light;
    }

    &_secondary {
        background: $green-dark;
    }
}
