.button {
    @include font-size(15px, 18px, bold);
    background: $primary;
    text-transform: uppercase;
    color: $white;
    border: none;
    display: block;
    max-width: 181px;
    width: 100%;
    padding: 11px;
    text-align: center;
    cursor: pointer;
    transition: $transition-duration;
    &:hover {
        background: $primary-hover;
    }
    &:active {
        background: $primary-active;
    }

    &_secondary {
        background: $secondary;
        &:hover {
            background: $secondary-hover;
        }
        &:active {
            background: $secondary-active;
        }
    }
}