
.button {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #008752;
    text-decoration: none;
    border: none;
    width: 181px;
    display: block;
    padding: 11px;
    cursor: pointer;
}

.button:hover {
    background: #26CD8B;
}

.button:active {
    background: #005232;
}

.button-secondary {
    background: #95459A !important;
}

