.banner {
  background: url('../../static/images/fon.jpg') #E0E7ED no-repeat center;
  /* background-color: #E0E7ED;
  background-image: url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center; */
}

.banner .container {
  padding: 152px 0 297px;
}

.banner-title {
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  color: #00559D;
  margin: 0;
  margin-bottom: 49px;
  width: 80%;
  letter-spacing: -1px;
}


/* services */

.services {
  margin: 90px auto 70px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;  
}

.services__item {
  width: 280px;
  margin: 10px;

}

/* ABOUT */

.about {
  display: flex;
  position: relative;
}

.about:after {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  right: -50px;
  width: 570px;
  height: 499px;
  background: #008752;
}

.about-img {
  z-index: 1;
}




.awards-list {
  display: flex;
}