@import "../../components/mixin";
@import "../../components/vars";

.banner {
  /* background: url(../img/fon.jpg) no-repeat center #E0E7ED; */

  background-image: url(../../static/images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E0E7ED;
  /* background-size: contain; */
  padding: 55px 0 376px;
  margin-bottom: 40px;
  &__title {
    @include font-size(36px, 110%, 900);
    color: $blue;
    max-width: 80%;
    margin: 0 0 47px;
    letter-spacing: -1px;
  }
  &__button {
    @include font-size(24px, 29px);
    max-width: 360px;
  }  
}


/* SERVICE */

.services {
  margin-bottom: 40px;
  &__title {
    @include font-size(24px, 29px, 700);
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin: 0 0 35px;
  }
  &__list {
    display: flex;
    margin: 0 -10px;    
  }
}

/* ABOUT */

.about {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 106px;
  // &:after {
  //   @extend %psevdo;
  //   width: 570px;
  //   height: 499px;
  //   background: $primary;
  //   top: 40px;
  //   right: -70px;
  //   z-index: -1;
  // }

  &__img {
    box-shadow: 20px 20px 0 $primary;
    @media screen and (min-width:768px) {
      box-shadow: 43px 40px 0 $primary;
    }
    @media screen and (min-width:1024px) {
      box-shadow: 110px 90px 0 $primary;
    }
    
    
  }
  
  &__wrapper {
    @include font-size(18px, 28px);
    margin-right: 10%;
    color: $black;
  }
  &__title {
    @include font-size(36px, 110%, 900);
    color: #005DAB;
    margin: 0 0 46px;
  }
}

/* AWARDS */
.awards {
  margin-bottom: 80px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
}

@media screen and (min-width:768px) {
  .banner {
    padding: 57px 0 285px;
    margin-bottom: 80px;
    &__title {
      @include font-size(60px, 100%, 900);
    }
  }
  .services {
    margin-bottom: 70px;
    &__title {
      @include font-size(36px, 43px, 700);
      margin: 0 0 40px;
    }
  }
  .about {
    &__img {
      width: 50%;
    }
    &__title {
      @include font-size(48px, 100%, 900);
    }
  }
}

@media screen and (min-width:1024px) {
  .banner {
    padding: 153px 0 288px;
    margin-bottom: 80px;
    &__title {
      @include font-size(90px, 100%, 900);
      margin: 0 0 50px;
    }
  }
  .services {
    margin-bottom: 110px;
    &__title {
      @include font-size(42px, 50px, 700);
    }
  }
  .about {
    &__img {
      width: 50%;
    }
    &__title {
      @include font-size(72px, 100%, 900);
    }
  }
}

@media screen and (max-width:1023px) {

  .about {
    flex-wrap: wrap;
    &__wrapper {
      order: 2;
    }
    &__img {
      width: 50%;
      order: 1;
      margin-bottom: 60px;
    }
    &__title {
      font-size: 48px;
      line-height: 100%;
    }
  }

  .awards {
    &__list {
      margin: 0 -20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      margin: 20px;
    }
  }
}

@media screen and (max-width:767px) {
  .services {
    &__list {
      flex-wrap: wrap;
    }
  }
  
  .about {
    flex-wrap: wrap;
    &__wrapper {
      order: 2;
    }
    &__img {
      order: 1;
      margin-bottom: 37px;
    }
    &__title {
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 24px;
    }
  }
}