.banner {
  background: url('../../static/images/fon.jpg') #E0E7ED no-repeat center;
  /* background-color: #E0E7ED;
  background-image: url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center; */
}

.banner .container {
  padding: 152px 0 297px;
}

.banner-title {
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  color: #00559D;
  margin: 0;
  margin-bottom: 49px;
  width: 80%;
  letter-spacing: -1px;
}


/* services */

.services {
  margin: 90px auto 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;  
}

.services-item {
  width: 280px;
  margin: 10px;

}

/* ABOUT */

.about {
  display: flex;
  position: relative;
}

.about:after {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  right: -50px;
  width: 570px;
  height: 499px;
  background: #008752;
  z-index: 5;
}

.about-img {
  z-index: 1;
}




.awards-list {
  display: flex;
}


/* MAP */
.map .container {
  position: relative;
}

.map-wrapper {
  background: #008752;
  width: 380px;
  position: absolute;
  top: 90px;
  left: 0;
}

.modal {
  background: rgba(149, 69, 154, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-open {
  display: flex;
}

.modal-form {
  width: 680px;
  background: #EEEEEE;
  padding: 50px;
  position: relative;
}

.close {
  background: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}