@import "../../components/mixin";
@import "../../components/vars";

.contact {
    &__title {
        @include font-size(36px, 40px, 900);
        text-align: center;
        color: $blue;
    }
    &__form {
        max-width: 780px;
        background: $light-smoke;
        margin: 0 auto;
        padding: 25px 43px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width:768px) {
    .contact {
        &__title {
            @include font-size(40px, 39px, 900);
        }
        &__form {
            padding: 50px 62px;
            margin-bottom: 60px;
        }
    }
}
@media screen and (min-width:1024px) {
    .contact {
        &__title {
            @include font-size(50px, 97%, 900);
        }
        &__form {
            padding: 50px 100px;
            margin-bottom: 80px;
        }
    }
}