.contact-title {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    line-height: 97.2%;
    color: #00559D;
}

.contact-form {
    max-width: 780px;
    width: 100%;
    background: #EEEEEE;
    margin: 0 auto;
    padding: 50px 100px;
}