.svg {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 2;

    .eyebrow-one,
    .eyebrow-two,
    .eye-one,
    .eye-two,
    .eye-one_mini,
    .eye-two_mini {
        transition: $transition-duration;
    }

    &:hover {
        .eyebrow-one {
            transform: translateY(-1px);
        }
        .eye-one,
        .eye-two,
        .eye-one_mini,
        .eye-two_mini {
            transform: translateY(2px);
        }
    }

    &:active {
        .eyebrow-one {
            transform: translateY(1px);
        }
        .eyebrow-two {
            transform: translateY(-1px);
        }

        .eye-one,
        .eye-one_mini {
            transform: translate(-4px, -2px);
        }

        .eye-two,
        .eye-two_mini {
            transform: translate(2px, -2px);
        }
    }
}