<li class="services__item">
  <a href="@@href">
    <picture class="services-card__wrapper">
      <source srcset="@@srcset" media="(max-width:767px)">
      <source srcset="@@srcset" media="(max-width:1023px)">
      <source srcset="@@srcset">
      <img srcset="@@srcset" src="@@src" alt="@@alt" class="services-card__img">
  </picture>
    
          
      
      <h3 class="services__heading">@@title</h3>
  </a>
  <p>@@text</p>
  @@include('button/index.html', {
      "href":"#",
      "text":"Learn More",
      "class":"button"
  })
</li>