.header {
  display: flex;
  align-items: center;
  padding: 33px 0;
}

.header-nav {
  margin: 0 auto 0 25px;
}

.header-list {
  display: flex;
}

.header-list a {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  margin-right: 15px;
}