.header {
  display: flex;
  align-items: center;
  padding: 33px 0;
  &__nav {
    margin: 0 auto 0 25px;
  }
  &__list {
    display: flex;
    a {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      color: #333333;
      margin-right: 15px;
    }
  }
}