<header class="header container">
  <a href="/">
    <img src="../../static/images/logo.svg" alt="Logo">
  </a>
  <nav class="header__nav">
    <ul class="undotted header__list">
      <li class="header__item">
        <a href="pages/catalog" class="header__link">Catalog</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Servises</a>
      </li>


      <li class="header__item">
        <a href="#" class="header__link">Blog</a>
      </li>

      <li class="header__item">
        <a href="#" class="header__link">About us</a>
      </li>
      <li class="header__item">
        <a href="pages/grid" class="header__link">Grid</a>
      </li>
    </ul>
  </nav>
  <a href="tel:7194319698" class="header__phone">719-431-9698</a>
  @@include('button/index.html', {
    "href":"pages/contact",
    "text":"Contact Us",
    "class":"button"
  })

  <button class="header__humburger">
    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 16H24V13.3333H0V16ZM0 9.33333H24V6.66667H0V9.33333ZM0 0V2.66667H24V0H0Z" fill="#95459A"/>
      </svg>      
  </button>
</header>

<div class="mobile">
  <div class="mobile__wrapper">
    <a href="/" class="mobile__logo">
      <img src="../../static/images/logo.svg" alt="Logo">
    </a>
    <nav class="mobile__nav">
      <ul class="undotted mobile__list">
        <li class="mobile__item">
          <a href="pages/catalog" class="mobile__link">Catalog</a>
        </li>
        <li class="mobile__item">
          <a href="#"  class="mobile__link">Servises</a>
        </li>
  
  
        <li class="mobile__item">
          <a href="#"  class="mobile__link">Blog</a>
        </li>
  
        <li class="mobile__item">
          <a href="#"  class="mobile__link">About us</a>
        </li>
      </ul>
    </nav>
    <a href="tel:7194319698" class="mobile__phone">719-431-9698</a>
    @@include('button/index.html', {
      "href":"pages/contact",
      "text":"Contact Us",
      "class":"button"
    })
  </div>
  <div class="mobile__close">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.3334 2.5465L17.4534 0.666504L10.0001 8.11984L2.54675 0.666504L0.666748 2.5465L8.12008 9.99984L0.666748 17.4532L2.54675 19.3332L10.0001 11.8798L17.4534 19.3332L19.3334 17.4532L11.8801 9.99984L19.3334 2.5465Z" fill="white"/>
      </svg>      
  </div>
</div>
