<header class="header container">
  <a href="/">
    <img src="./static/images/logo.png" alt="logo">
  </a>
  <nav class="header__nav">
    <ul class="undotted header__list">
      <li>
        <a href="#">Catalog</a>
      </li>
      <li>
        <a href="#">Servises</a>
      </li>
      <li>
        <a href="#">Servises</a>
      </li>
      <li>
        <a href="#">Servises</a>
      </li>
      <li>
        <a href="#">Servises</a>
      </li>
    </ul>
  </nav>
  <a href="tel:7194319698">719-431-9698</a>
  <a href="pages/contacts" class="button">Contact Us</a>
</header>