$white: #fff;
$black: #000;
$text-color: #2C3036;

$primary: #008752;
$primary-hover: #26CD8B;
$primary-active: #005232;

$secondary: #95459A;
$secondary-hover: #D665DD;
$secondary-active: #722A77;

$blue: #00559D;

$yellow: #FFB612;

$light-smoke: #EEEEEE;

$transition-duration: .4s;