@import "./vars";
@import "./mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  @include font-size(16px, 21px);
  color: #2C3036;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.hidden {
  font-size: 0;
  line-height: 0;
  width: 0;
}

.undotted {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}


fieldset {
  border: none;
  padding: 0;
}

input,
textarea {
  /* height: 50px; */
  border: 2px solid #777;
  font-size: 16px;
  line-height: 20px;
  color: #797979;
  padding: 12px 20px;
  background: transparent;
  resize: none;
  outline: none;
}

input:focus,
textarea:focus {
  border-color:rgba(255, 182, 18, 0.5);
}

/* input::placeholder,
textarea::placeholder {
  color: red;
} */

/* input:focus label,
textarea:focus label {
  color: rgba(255, 182, 18, 0.5);
} */


label,
legend {
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
  margin-bottom: 6px;
}

label.label-wrapper span {
  margin-bottom: 6px;
}

.field-2-column {
  display: flex;
  justify-content: space-between;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label-wrapper:focus-within label {
  color: rgba(255, 182, 18, 0.5);
}

.field-2-column .label-wrapper {
  max-width: 280px;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.checkbox-list,
.radio-list {
  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
}

.checkbox-label,
.radio-label {
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  cursor: pointer;
  &:before,
  &:after {
    @extend %pseudo;
  }
  &:before {
    width: 19px;
    height: 19px;
    top: -3px;
    left: 0;
    border: 2px solid #777;
  }
  &:after {
    width: 13px;
    height: 13px;
    top: 2px;
    left: 5px;
    background: #95459A;
    opacity: 0;
  }
}

.radio-label:before,
.radio-label:after {
  border-radius: 50%;
}

.checkbox-input:checked + .checkbox-label:after,
.radio-input:checked + .radio-label:after {
  opacity: 1;
}


.checkbox-input:disabled + .checkbox-label,
.radio-input:disabled + .radio-label {
  opacity: .5;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./brand/brand";
@import "./button/button";
@import "./chat/chat";
@import "./map/map";
@import "./popup/popup";
@import "./service-item/service-item";
@import "./svg/svg";