.map {
  background: url(../../static/images/map.jpg) no-repeat;
  background-size: cover;
  padding: 40px 0 133px;
  &__wrapper {
    background: $primary;
    max-width: 380px;
    padding: 50px 44px 26px;
    color: $white;
  }
  &__title {
    @include font-size(30px, 36px, 900);
    margin: 0 0 17px;
  }
  &__phone {
    color: $white;
    margin-bottom: 23px;
    display: block;
  }
}