<article class="map">
    <div class="container">
        <div class="map__wrapper">
            <h3 class="map__title">Chem-Dry</h3>
            <p>9420 Cedar CT, Thornton, CO 80229</p>
            <a href="tel:7206059399" class="map__phone">(720) 605-9399</a>
            @@include('button/index.html', {
                "href":"#",
                "text":"Learn More",
                "class":"button button_secondary"
            })
        </div>
    </div>
    <img src="./static/images/map.jpg" alt="" class="map-img">

  </article>